<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<h1>
    <a href="/list">Wyświetl wszystkie produkty</a><br/>
    <a th:href="'/list?kategoria=' + ${productList[0]}">Wyświetl produkty spożywcze</a><br/>
    <a th:href="'/list?kategoria=' + ${productList[1]}">Wyświetl produkty domowe</a><br/>
    <a th:href="'/list?kategoria=' + ${productList[2]}">Wyświetl produkty inne</a><br/><br/>
    <a href="/add">Dodaj produkt</a><br/>
</h1>
</body>
</html>